/* General Navbar Styles */
.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  position: relative;
  z-index: 1000;
}

.navbar .logo {
  width: 150px;
  text-decoration: none;
  color: inherit;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-menu a {
  text-decoration: none;
  color: inherit;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Auth Button */
.auth-button {
  background: transparent;
  font-size: 14px;
  color: #49557e;
  border: 1.5px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-button:hover {
  background-color: rgb(248, 215, 215);
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

/* Hamburger menu button - hidden by default */
.menu-button {
  display: none;
  background-color: transparent;
  font-size: 28px;
  color: #49557e;
  border: none;
  cursor: pointer;
}

/* Tablet (max-width: 1050px) */
@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
}

/* Mobile (max-width: 900px) */
@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .auth-button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

/* Small Mobile (max-width: 750px) */
@media (max-width: 750px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-right {
    display: none; /* hide right section initially */
  }

  .menu-button {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.show {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    gap: 15px;
    min-width: 150px;
  }

  .navbar-menu.show .auth-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }

  .navbar-menu.show li h3 {
    margin: 0;
   
  }
}
